/* .worldContainer {
	display: flex;
	flex-direction: column;
	flex: 2;
	background-color: red;
} */

.headerContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1;
	background-color: rgb(183, 219, 110);
	padding-bottom: 5px;
}

.submit {
	width: 100%;
	margin: 5px;
}

.label {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 16px;
	margin-right: 10px;
}
.Row {
	display: flex;
	justify-content: center;
	margin: 5px;
}
.generation {
	text-align: center;
}

/* .input {
	margin: 6px;
	padding-bottom: 5%;
} */

/* .boardContainer {
	display: flex;
	flex: 1;
	justify-content: center;
	margin: 30px;
	padding: 0 60px;
	background-color: aqua;
} */

.headerButtons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 20px 20px;
}
/* .start {
  background-color: green;
  color: azure;
}
.stop {
  background-color: red;
  color: azure;
}
.reset {
  background-color: chartreuse;
  color: black;
} */

label {
	display: flex;
	justify-content: space-evenly;
}
li {
	margin-left: 10px;
	padding-bottom: 3%;
}
canvas {
	display: flex;
	align-items: center;
	margin: auto;
}
Button {
	display: flex;
	justify-content: space-around;
}
#col {
	margin-left: -3.5%;
}
